<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Hello <%= name %></h1>
    <h2>Videos</h2>
    <ul id="videos">
    </ul>

    <form name="search" id="search" >
    <input placeholder="" name="q" type="text" id="searchbar">
    <button type="submit">Submit</button>
    </form>
    <form action="/user/logout" id="logoutform"><button id="logoutButton" type="submit">Logout</button></form>
    <form id="myvideos" action="/user/<%=id%>" method="get"><button>My Videos</button type="submit"></form>
    </div>
    <script>
        let searchForm = document.getElementById('search');
        let bar = document.getElementById('searchbar');
        let videolist = document.getElementById('videos')

        const listvideos = async () =>{
            videolist.replaceChildren([])
            let query;
            if(bar.value) query=bar.value;
            else query='*'
            const res = await fetch('/videos/search/'+query, {headers : {'Content-Type' : 'application/json'}});
            const videos=  await res.json()
            

            videos.allVideos.forEach(element => {
                const li = document.createElement('li');
                const link = document.createElement('a');
                link.innerText = `${element.name} ${element.desc} ${element._id}`;
                link.href = '/videos/' + element._id;
                li.appendChild(link)
                videolist.appendChild(li)
            });

        }
        listvideos()



        searchForm.addEventListener('submit', async (e)=>{
            e.preventDefault();
            listvideos()
        })
    

    </script>
</form>
</body>
</html>