<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/index.css" type="text/css">
</head>
<body>
    <div class="content">
        <header>
            <h1>Videos</h1>
            <div id="userpanel">
                <p class="greet">Hello <%= name %></p>
                <form action="/user/logout" id="logoutform"><button id="logoutButton" type="submit">Logout</button></form>
                <form id="myvideos" action="/user/<%=id%>" method="get"><button>My Videos</button type="submit"></form>
            </div>
            <hr>
            <form name="search" id="search" >
                <input placeholder="" name="q" type="text" id="searchbar">
                <button id="searchbutton" type="submit">Search</button>
            </form>
            
        </header>

        <div class="videocontainer">
            <ul id="videos">
            </ul>
        </div>
    </div>
    <footer>
        <a class="footerlink" href="https://www.flaticon.com/free-icons/video-player" title="video player icons">Video player icons created by Freepik - Flaticon</a>
        <a href="https://www.vecteezy.com/free-photos">Free Stock photos by Vecteezy</a>
    </footer>
    <script>
        let searchForm = document.getElementById('search');
        let bar = document.getElementById('searchbar');
        let videolist = document.getElementById('videos')
        let waiting;

        const listvideos = async () =>{
            videolist.replaceChildren([])
            let query="";
            if(bar.value){
                query=`?keyword=${bar.value}`;
            }
            waiting=true;
            const res = await fetch('/videos'+query, {method : 'POST', headers : {'Content-Type' : 'application/json'}});
            const videos=  await res.json()
            waiting=false;

            videos.allVideos.forEach(element => {
                const div = document.createElement('div');
                const li = document.createElement('li');
                const link = document.createElement('a');
                const descP = document.createElement('p');
                const viewsP = document.createElement('p');
                li.style.overflow = 
                link.innerText = element.name;
                descP.innerText = element.desc;
                descP.className = 'desc';
                viewsP.innerText = `Views\n${element.views}`;
                viewsP.className = 'views';
                link.href = '/videos/' + element._id;
                li.appendChild(link)
                li.appendChild(descP);
                li.appendChild(viewsP);
                videolist.appendChild(li)
            });

        }
        listvideos()



        searchForm.addEventListener('submit', async (e)=>{
            e.preventDefault();
            if(waiting) return;
            listvideos()
        })
    

    </script>
</form>
</body>
</html>