<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video controls id="video" enctype="multipart/form-data" method="post"></video>
    <h1><%=name%></h1>
    <h2><%=uploader%></h2>
    <p><%=desc%></p>
    <p><%=views%></p>
    <script>
        const video = document.getElementById('video')
        video.src = window.location.href+'/watch';
    </script>
</body>
</html>